
DELETE FROM c_Synonym
WHERE term IN ('Carbocysteine','Ethamsylate','Beclometasone','Beclomethasone')

DELETE FROM [c_Synonym]
WHERE term_type = 'dosage_form'
AND term IN (
'Chewable Oral Tablet',
'Chewable Dispersible Tablet',
'Dental Cream',
'Dental Gel',
'Dental Solution',
'Enteric Coated Oral Tablet',
'Elixir',
'Sustained Release Oral Tablet',
'Extended Release Tablet',
'Extended Release Oral Suspension',
'Disintegrating Delayed Release Oral Tablet',
'Dispersible Oral Tablet',
'Granules for Delayed Release Oral Suspension',
'Granules for Solution',
'Inhalation Powder Cartridge',
'Inhalation Powder',
'Inhalation Solution',
'Nebuliser Solution',
'Mouth Paint', 
'Mucous Membrane Gel',
'HFA Inhaler',
'Metered Dose Inhalation Spray',
'Metered Nose Spray',
'Ophthalmic Emulsion',
'Otic Drops',
'Oral Rinse',
'Oral Vaccine',
'Infusion',
'Injection Solution',
'Intravenous Infusion',
'Solution for Infusion',
'Solution for Injection',
'Sublingual Drops',
'Patch',
'Periodontal Gel',
'Rectal Capsule',
'Topical Emulsion',
'Topical Jelly',
'Topical Liniment',
'Topical Shampoo',
'Topical Solution (Lotion)',
'Topical Stick',
'Transdermal Gel',
'Transdermal Patch',
'Vaginal Capsule',
'Vaginal Ovule',
'Vaginal Pessary',
'Vaginal Tablet',
'Vaginal Suppository',
'Vaginal Insert Drug Implant',
'Vaginal System',
'Prefilled Pen',
'Medicated Conditioner'
)



--
update [c_Synonym]
SET term = '', alternate = ''
where term = ''
