-- Updated according to 
-- 08_14_2020_Injectables Present and Not Present in KE_Formulary
-- (corrected-sheet2)

update c_drug_formulation
set valid_in = 'Inpatient' -- Inpatient
where form_rxcui in ('858599',
'858607',
'858603')

update c_drug_formulation
set valid_in = 'Retired' -- Retired
where form_rxcui in ('245319')


update c_drug_formulation 
set valid_in = replace(valid_in,'ke;','')
-- select count(*) from c_drug_formulation
where form_rxcui in (


-- Remove ke for now, not sure

'1010749',
'199596',
'858599',
'858603',
'858607',
'102787',
'103956',
'104084',
'105174',
'105467',
'105569',
'105648',
'108396',
'150889',
'151114',
'198412',
'199317',
'199388',
'199408',
'199584',
'199585',
'199710',
'199727',
'199947',
'199958',
'200101',
'200238',
'201860',
'204445',
'204466',
'204490',
'204491',
'204508',
'204528',
'204534',
'204536',
'205296',
'205743',
'205821',
'205843',
'205885',
'205912',
'205913',
'205917',
'205918',
'205921',
'205922',
'205923',
'205924',
'206158',
'206216',
'206289',
'206344',
'206417',
'206422',
'206423',
'206620',
'206715',
'206813',
'206831',
'206967',
'206970',
'206972',
'207029',
'207035',
'207315',
'207358',
'207390',
'207391',
'207468',
'207678',
'207834',
'207836',
'208083',
'208452',
'208969',
'209029',
'209217',
'209704',
'210972',
'211248',
'211976',
'212075',
'212218',
'212219',
'213040',
'213093',
'213298',
'213395',
'213442',
'213475',
'213570',
'226921',
'226922',
'237212',
'237786',
'238082',
'238083',
'238084',
'238090',
'238100',
'238101',
'238133',
'238212',
'238271',
'238719',
'239178',
'239189',
'239208',
'240637',
'240738',
'240906',
'240984',
'241975',
'242690',
'242691',
'242825',
'245961',
'248009',
'248110',
'248288',
'248661',
'249453',
'251272',
'251817',
'251934',
'252016',
'261097',
'261123',
'262197',
'282486',
'284019',
'284411',
'284425',
'284511',
'284989',
'307816',
'308207',
'308260',
'308395',
'308866',
'309065',
'309072',
'309279',
'309541',
'309914',
'310027',
'310187',
'310189',
'310190',
'310191',
'310414',
'310442',
'311027',
'311033',
'311078',
'311422',
'312127',
'312128',
'312249',
'312576',
'312644',
'312736',
'312807',
'312814',
'313165',
'402243',
'313324',
'313416',
'313532',
'313578',
'313650',
'313812',
'313919',
'315105',
'315188',
'317127',
'346494',
'347043',
'349407',
'349408',
'349409',
'349410',
'351926',
'351945',
'352076',
'352083',
'352211',
'352212',
'352213',
'352214',
'352220',
'401981',
'403920',
'404460',
'404492',
'404652',
'413132',
'415379',
'435151',
'485193',
'485210',
'485356',
'486166',
'542438',
'542925',
'543688',
'543732',
'543739',
'544840',
'544915',
'545289',
'545293',
'562411',
'562675',
'578806',
'582692',
'582969',
'582971',
'582974',
'582976',
'582984',
'583453',
'584222',
'597823',
'598014',
'603541',
'604806',
'615869',
'615882',
'630936',
'630939',
'637197',
'637550',
'645884',
'647118',
'672356',
'685574',
'685576',
'685578',
'688596',
'700387',
'705824',
'705875',
'706461',
'725108',
'727339',
'727415',
'727507',
'727533',
'727631',
'727714',
'727816',
'727954',
'728491',
'729232',
'729234',
'731380',
'731381',
'731383',
'731538',
'731541',
'731564',
'731566',
'731567',
'731568',
'731570',
'731571',
'745302',
'745309',
'745462',
'745560',
'749813',
'749816',
'749818',
'751566',
'751568',
'751570',
'753990',
'758027',
'758032',
'758523',
'762830',
'762833',
'762834',
'762836',
'762837',
'762839',
'762841',
'762843',
'762846',
'762849',
'762850',
'762852',
'762857',
'762859',
'762866',
'762868',
'762873',
'762875',
'762895',
'762897',
'763028',
'763029',
'763138',
'763141',
'763470',
'763472',
'763473',
'763474',
'763488',
'763489',
'789980',
'792582',
'792847',
'795748',
'796918',
'798408',
'798415',
'800188',
'800209',
'800216',
'800237',
'800269',
'800341',
'800396',
'800401',
'800406',
'800411',
'800416',
'800434',
'800440',
'800445',
'800563',
'800584',
'800588',
'800611',
'800637',
'800648',
'800786',
'800790',
'800808',
'800812',
'800858',
'800862',
'800925',
'800928',
'800929',
'800933',
'800976',
'800979',
'800985',
'800988',
'800998',
'801009',
'801010',
'801013',
'801016',
'801019',
'801024',
'801029',
'801032',
'801067',
'801109',
'801112',
'801133',
'801136',
'801142',
'801145',
'801177',
'801357',
'801391',
'801395',
'801398',
'801403',
'801405',
'801413',
'801417',
'801644',
'801648',
'801868',
'801881',
'801907',
'803058',
'803062',
'803239',
'807273',
'807277',
'807371',
'807379',
'807383',
'807396',
'809819',
'809871',
'809984',
'825157',
'825159',
'825160',
'825161',
'828267',
'828527',
'828703',
'830463',
'830651',
'830680',
'830731',
'831074',
'831290',
'831426',
'833532',
'835715',
'835831',
'835811',
'835842',
'835829',
'836306',
'836307',
'836634',
'836636',
'847243',
'847245',
'847247',
'847348',
'847617',
'847781',
'847913',
'847917',
'849599',
'849822',
'849850',
'849851',
'849931',
'849932',
'853354',
'853356',
'854183',
'854187',
'854247',
'854253',
'854302',
'855613',
'855858',
'856696',
'856698',
'856789',
'857237',
'858048',
'858051',
'858052',
'858053',
'858054',
'858055',
'858056',
'858057',
'858073',
'858074',
'858601',
'858605',
'858609',
'860005',
'860088',
'860092',
'860096',
'860113',
'860114',
'860115',
'860192',
'860195',
'860749',
'860751',
'861043',
'861045',
'861362',
'861364',
'861520',
'861522',
'861529',
'861617',
'861674',
'863538',
'864110',
'864714',
'866510',
'867381',
'876203',
'880859',
'882530',
'884223',
'884227',
'884254',
'884702',
'885207',
'885257',
'885385',
'886622',
'886627',
'891437',
'891438',
'892473',
'892489',
'892652',
'896856',
'896872',
'897042',
'897044',
'897126',
'897366',
'897368',
'897653',
'897745',
'897747',
'897753',
'897755',
'897756',
'897757',
'897758',
'898572',
'898578',
'899350',
'901808',
'901812',
'903696',
'903855',
'904415',
'904440',
'904954',
'966768',
'977842',
'977937',
'978713',
'978715',
'978725',
'978727',
'978733',
'978735',
'978736',
'978737',
'978738',
'978739',
'978740',
'978741',
'978744',
'978745',
'978746',
'978747',
'978755',
'978757',
'978759',
'978760',
'978777',
'978778',
'979115',
'979122',
'979434',
'984078',
'990982',
'991069',
'992403',
'992801',
'992803',
'992805',
'992807',
'992809',
'993456',
'995270',
'995285',
'995906',
'996558',
'996559',
'996828',
'997024',
'1000107',
'1009456',
'1009459',
'1010035',
'1010673',
'1010755',
'1010763',
'1010902',
'1011626',
'1011657',
'1012381',
'1012388',
'1012396',
'1012400',
'1012406',
'1012413',
'1012417',
'1012455',
'1012457',
'1012465',
'1012722',
'1012724',
'1012726',
'1012737',
'1012739',
'1012741',
'1014427',
'1014431',
'1041495',
'1041497',
'1041530',
'1045460',
'1046402',
'1046408',
'1046410',
'1047511',
'1047918',
'1049289',
'1049633',
'1085752',
'1085756',
'1087391',
'1087395',
'1087964',
'1087968',
'1090635',
'1091721',
'1091725',
'1094083',
'1095281',
'1095283',
'1098124',
'1098139',
'1100742',
'1100746',
'1111641',
'1111642',
'1114085',
'1114087',
'1114874',
'1117522',
'1117525',
'1117759',
'1117765',
'1148145',
'1189629',
'1189640',
'1189645',
'1189657',
'1189668',
'1189673',
'1189683',
'1190113',
'1190179',
'1190439',
'1190536',
'1190538',
'1190540',
'1190542',
'1190546',
'1190551',
'1190552',
'1190608',
'1190611',
'1190614',
'1190620',
'1190748',
'1190750',
'1190776',
'1190793',
'1190916',
'1190919',
'1191126',
'1191128',
'1191357',
'1192860',
'1192862',
'1232190',
'1232574',
'1233622',
'1234236',
'1234238',
'1234239',
'1234240',
'1234241',
'1234242',
'1242106',
'1242131',
'1242136',
'1242503',
'1242617',
'1244062',
'1244064',
'1244233',
'1244638',
'1245423',
'1245424',
'1245976',
'1245985',
'1246594',
'1246618',
'1251596',
'1292826',
'1292828',
'1292879',
'1292881',
'1292887',
'1293443',
'1293446',
'1293464',
'1293466',
'1293736',
'1293739',
'1294552',
'1298953',
'1300783',
'1304559',
'1304564',
'1305000',
'1305200',
'1305205',
'1305217',
'1305222',
'1305268',
'1305269',
'1305888',
'1305891',
'1305907',
'1305909',
'1356827',
'1361019',
'1361021',
'1361023',
'1361038',
'1362072',
'1364114',
'1364118',
'1364122',
'1365979',
'1367848',
'1369810',
'1376084',
'1429282',
'1429284',
'1433251',
'1435174',
'1442605',
'1442681',
'1442683',
'1442698',
'1484927',
'1484958',
'1484963',
'1485070',
'1486165',
'1487361',
'1487363',
'1488302',
'1488304',
'1490052',
'1490057',
'1490491',
'1490493',
'1490667',
'1491629',
'1491634',
'1492047',
'1495298',
'1534805',
'1534822',
'1537107',
'1542385',
'1544383',
'1544386',
'1544388',
'1544390',
'1544394',
'1544396',
'1544398',
'1544400',
'1544402',
'1544404',
'1544758',
'1544918',
'1547445',
'1547450',
'1547459',
'1549708',
'1593154',
'1593156',
'1593738',
'1594589',
'1594591',
'1594593',
'1594663',
'1598082',
'1598268',
'1599797',
'1599836',
'1599841',
'1601982',
'1602163',
'1602171',
'1604544',
'1606283',
'1608811',
'1608815',
'1648160',
'1648162',
'1649996',
'1650004',
'1650012',
'1650901',
'1650966',
'1650968',
'1650971',
'1650972',
'1650973',
'1650974',
'1650975',
'1650976',
'1652830',
'1652834',
'1653204',
'1653243',
'1654009',
'1654011',
'1654037',
'1654041',
'1654079',
'1654083',
'1654630',
'1656595',
'1656599',
'1657007',
'1657013',
'1657068',
'1657074',
'1657151',
'1657160',
'1657167',
'1657173',
'1657178',
'1657192',
'1657196',
'1657343',
'1657362',
'1657660',
'1657664',
'1657705',
'1657723',
'1657777',
'1657781',
'1657864',
'1657868',
'1658102',
'1658106',
'1658125',
'1658127',
'1658147',
'1658148',
'1658159',
'1658163',
'1658165',
'1658174',
'1658175',
'1658239',
'1658423',
'1659134',
'1659139',
'1659151',
'1659161',
'1659167',
'1659179',
'1659183',
'1659598',
'1659812',
'1659816',
'1659991',
'1659998',
'1660001',
'1660016',
'1661332',
'1661335',
'1661345',
'1661352',
'1661566',
'1665088',
'1665091',
'1665093',
'1665095',
'1665097',
'1665099',
'1665188',
'1665326',
'1665447',
'1665451',
'1665459',
'1665675',
'1665679',
'1665682',
'1665687',
'1665691',
'1665698',
'1665700',
'1665702',
'1665895',
'1665900',
'1665904',
'1665906',
'1666306',
'1666309',
'1666311',
'1666314',
'1666317',
'1666323',
'1666328',
'1666446',
'1666781',
'1667911',
'1667916',
'1667993',
'1668264',
'1668267',
'1670011',
'1670016',
'1670021',
'1670023',
'1670197',
'1670201',
'1670387',
'1670392',
'1673269',
'1673277',
'1673279',
'1718913',
'1718962',
'1718965',
'1718970',
'1718975',
'1718993',
'1718996',
'1719222',
'1719225',
'1719228',
'1719231',
'1719240',
'1719243',
'1719246',
'1719611',
'865129',
'1720165',
'1720166',
'1720268',
'1720272',
'1720276',
'1720280',
'1720768',
'1720774',
'1720878',
'1720881',
'1721082',
'1721458',
'1721460',
'1721473',
'1721475',
'1721476',
'1721685',
'1721690',
'1721956',
'1722406',
'1722407',
'1722719',
'1722916',
'1723218',
'1723220',
'1723221',
'1723222',
'1723740',
'1723750',
'1723776',
'1724276',
'1724338',
'1724340',
'1724341',
'1724352',
'1724356',
'1724358',
'1724359',
'1724383',
'1724644',
'1726102',
'1726257',
'1726260',
'1726266',
'1726268',
'1726293',
'1726296',
'1726313',
'1726440',
'1726682',
'1726984',
'1728050',
'1728351',
'1728355',
'1728784',
'1728792',
'1728801',
'1728806',
'1729086',
'1729091',
'1729336',
'1729419',
'1729423',
'1730927',
'1730931',
'1731584',
'1731591',
'1731987',
'1731991',
'1731999',
'1732157',
'1732161',
'1732165',
'1734377',
'1734383',
'1734865',
'1734932',
'1734934',
'1735057',
'1735060',
'1735062',
'1735065',
'1735488',
'1735490',
'1735494',
'1735496',
'1735500',
'1735501',
'1735536',
'1735537',
'1736262',
'1736267',
'1736329',
'1736337',
'1736472',
'1736478',
'1736543',
'1736547',
'1736640',
'1736642',
'1736645',
'1736646',
'1736647',
'1736648',
'1736778',
'1736782',
'1736863',
'1736921',
'1737245',
'1737468',
'1737472',
'1737559',
'1737579',
'1737582',
'1738354',
'1738358',
'1738576',
'1738581',
'1739754',
'1739890',
'1741407',
'1741409',
'1743374',
'1743547',
'1743549',
'1743869',
'1743871',
'1743877',
'1743879',
'1743938',
'1743941',
'1743950',
'1743953',
'1743994',
'1743999',
'1744259',
'1745108',
'1745114',
'1746532',
'1746898',
'1746915',
'1747294',
'1788989',
'1789950',
'1789953',
'1789956',
'1789958',
'1790128',
'1790131',
'1790177',
'1790181',
'1790210',
'1790220',
'1790242',
'1790246',
'1790248',
'1790353',
'1790374',
'1790379',
'1790382',
'1790383',
'1790506',
'1790508',
'1790512',
'1790513',
'1790546',
'1790812',
'1790815',
'1790818',
'1790819',
'1791495',
'1791499',
'1791501',
'1791723',
'1792785',
'1793916',
'1794184',
'1794552',
'1794554',
'1795339',
'1796379',
'1796384',
'1796421',
'1796425',
'1799205',
'1801157',
'1801319',
'1801322',
'1801611',
'1803893',
'1803896',
'1809531',
'1809535',
'1809538',
'1809542',
'1809545',
'1810578',
'1810582',
'1811257',
'1811475',
'1812480',
'1812482',
'1812484',
'1812593',
'1812598',
'1813037',
'1855057',
'1855509',
'1855513',
'1855732',
'1855744',
'1859000',
'1860167',
'1860172',
'1863565',
'1864326',
'1865295',
'1865665',
'1866543',
'1866551',
'1869320',
'1869344',
'1869381',
'1872065',
'1872261',
'1872265',
'1872269',
'1872271',
'1872272',
'1872479',
'1872752',
'1875547',
'1876132',
'1876136',
'1876138',
'1876373',
'1876385',
'1876406',
'1921081',
'1922334',
'1923338',
'1923347',
'1923617',
'1923622',
'1924317',
'1925211',
'1925262',
'1926818',
'1926823',
'1926825',
'1926827',
'1927290',
'1927667',
'1927672',
'1927890',
'1927894',
'1928329',
'1928537',
'1928689',
'1928858',
'1928864',
'1928974',
'1939296',
'1939299',
'1939346',
'1939348',
'1944949',
'1946730',
'1986354',
'1986356',
'1986825',
'1986830',
'1986889',
'1988652',
'1988657',
'1988660',
'1988661',
'1989109',
'1989117',
'1989804',
'1989811',
'1989815',
'1989817',
'1989828',
'1990862',
'1990869',
'1991311',
'1991317',
'1991329',
'1991413',
'1992160',
'1992169',
'1992171',
'1992536',
'1992538',
'1994316',
'1996189',
'1996193',
'1996246',
'1996291',
'1996293',
'1996297',
'1996298',
'1998483',
'1999012',
'1999187',
'1999408',
'1999531',
'2000007',
'2002420',
'2003344',
'2003660',
'2003663',
'2003664',
'2003667',
'2003668',
'2003669',
'2003670',
'2003757',
'2003767',
'2043308',
'2043312',
'2043322',
'2043864',
'2043870',
'2043878',
'2045632',
'2045638',
'1791591',
'1791595',
'105552',
'212994',
'226719',
'876399',
'1745090',
'1994352',
'2044431',
'1010692',
'1010768',
'1010846',
'1608499',
'1737345',
'1737563',
'1737567',
'1737569',
'1737571',
'1737637',
'1737641',
'1737758',
'1737762',
'1737764',
'1867940',
'1867944',
'1867993',
'1867997',
'1867999',
'1868029',
'1011809',
'1011814',


-- This SBD concept not in retention drugs in Kenya

'1654849',
'1799959',
'1292443',
'804186',
'1658150',
'1658155',
'830245',
'830253',
'830263',
'744812',
'1039657',
'1722941',
'1722937',
'1946651',
'1947133',
'205533',
'206819',
'206820',
'207193',
'207198',
'207199',
'207200',
'207201',
'207351',
'208325',
'210676',
'212844',
'213841',
'261105',
'284397',
'284422',
'351859',
'352046',
'352047',
'352262',
'352297',
'352334',
'583218',
'616366',
'647123',
'672540',
'727357',
'727361',
'727537',
'727542',
'727545',
'727705',
'730046',
'731229',
'731231',
'731235',
'731241',
'731245',
'731250',
'751970',
'763565',
'805127',
'805131',
'805678',
'805679',
'825325',
'825333',
'825334',
'825335',
'830470',
'830477',
'849503',
'861358',
'861366',
'898603',
'898607',
'968177',
'968183',
'968810',
'984082',
'992462',
'992876',
'1000133',
'1000158',
'1040025',
'1047440',
'1047444',
'1085994',
'1085998',
'1086259',
'1099650',
'1145932',
'1232653',
'1301627',
'1305892',
'1305908',
'1305910',
'1306076',
'1358512',
'1358619',
'1369784',
'1369788',
'1369792',
'1431647',
'1435117',
'1441407',
'1441413',
'1441418',
'1441424',
'1441530',
'1482814',
'1546177',
'1546183',
'1546189',
'1551888',
'1591961',
'1591967',
'1591970',
'1591973',
'1591976',
'1594759',
'1602604',
'1602607',
'1607582',
'1649593',
'1649603',
'1649604',
'1649946',
'1649964',
'1649980',
'1650896',
'1653166',
'1653198',
'1654951',
'1654955',
'1655728',
'1657751',
'1657980',
'1658044',
'1658048',
'1659814',
'1659818',
'1662280',
'1662286',
'1665190',
'1665327',
'1666374',
'1666615',
'1666620',
'1666623',
'1673274',
'1673278',
'1673280',
'1718902',
'1718907',
'1718910',
'1719669',
'1719777',
'1719847',
'1720026',
'1723189',
'1723194',
'1723234',
'1726321',
'1726325',
'1726335',
'1728056',
'700499',
'1729523',
'1729528',
'1730196',
'1731317',
'1732183',
'1732187',
'1741263',
'1741271',
'1743856',
'1747181',
'1747187',
'1747194',
'1791703',
'1792485',
'1792495',
'1796692',
'1796730',
'1799230',
'1799413',
'1726207',
'1801186',
'1801193',
'1805012',
'1805016',
'1808219',
'1808235',
'1810489',
'1813513',
'1855524',
'1858963',
'1858966',
'1859370',
'1859373',
'1859554',
'1863347',
'1863355',
'1870691',
'1921010',
'1921017',
'1921240',
'1726216',
'1925255',
'1925257',
'1925264',
'1926332',
'1928356',
'1942158',
'1942173',
'1942748',
'1995155',
'2000013',
'2002739',
'2045502',
'108911',
'604377',
'1361563',
'1361569',
'604379',
'1361572',
'351993',
'807225',
'603534',
'1357888',
'901644',
'835948',
'798443',
'1605075',
'1292435',
'1292459',
'829989',
'1812951',
'763106',
'208312',
'105398',
'1738589',
'1738592',
'1738596',
'1791404',
'1791409',
'206535',
'206536',
'206537',


-- This SCD concept not in retention drugs in Kenya

'200317',
'1799958',
'1293648',
'2043306',
'804183',
'830243',
'830252',
'830261',
'1658149',
'1658154',
'1731998',
'1731522',
'1947131',
'855200',
'700496',
'1534800',
'1726492',
'1534820',
'1659156',
'1999185',
'1659165',
'1659182',
'1659177',
'198207',
'198219',
'727711',
'199212',
'200318',
'1999007',
'204401',
'1661563',
'208104',
'213638',
'237205',
'237210',
'1995150',
'1804737',
'308351',
'1804738',
'1804735',
'1658966',
'240448',
'241162',
'1720263',
'245256',
'1720271',
'1720275',
'282533',
'282561',
'282609',
'1720278',
'308516',
'308517',
'308869',
'308870',
'309985',
'309986',
'309987',
'1875542',
'1989104',
'1855052',
'311447',
'311448',
'311450',
'311451',
'311452',
'312004',
'312069',
'312070',
'312071',
'312083',
'312424',
'312903',
'1997015',
'312973',
'1997017',
'795461',
'1739749',
'1872256',
'1867594',
'314152',
'314192',
'315199',
'1867596',
'1670365',
'351270',
'351290',
'1672917',
'1673145',
'1672919',
'486133',
'545835',
'562352',
'1012391',
'578803',
'1996184',
'1996192',
'238129',
'2043859',
'727355',
'727544',
'727625',
'727703',
'2043868',
'727782',
'2043876',
'731176',
'849597',
'1790247',
'1790239',
'752884',
'752889',
'752894',
'752899',
'758025',
'758028',
'758029',
'758159',
'758160',
'758162',
'758164',
'758169',
'763564',
'1790245',
'1719235',
'1294550',
'830467',
'836635',
'847910',
'847915',
'1731355',
'849876',
'249364',
'968807',
'854245',
'854252',
'1925209',
'1795334',
'861042',
'861044',
'861672',
'1721951',
'1726439',
'898316',
'898601',
'898605',
'903694',
'1746527',
'1649975',
'349326',
'1606278',
'1047087',
'282485',
'1876401',
'1919515',
'979113',
'884698',
'700384',
'1010745',
'1924316',
'1012377',
'1012384',
'1490047',
'1046406',
'1989809',
'1047437',
'1989816',
'1090558',
'1090560',
'1989799',
'1145929',
'1989814',
'1193358',
'1193360',
'1193362',
'1234256',
'1244060',
'1244063',
'1729200',
'1300189',
'1300781',
'1300890',
'1306074',
'1729205',
'1357886',
'1658707',
'1362048',
'1361029',
'1658637',
'1658720',
'1361568',
'1362831',
'1658719',
'1362057',
'1656760',
'1361048',
'1658659',
'1362059',
'1658692',
'1361226',
'1659197',
'1362052',
'1361607',
'1361574',
'1362060',
'1736470',
'1736477',
'200349',
'2045636',
'1369783',
'1369787',
'1369791',
'1431642',
'1433768',
'1433771',
'2045627',
'1441411',
'1441416',
'1441527',
'1876127',
'1482813',
'1876137',
'1876135',
'1810573',
'1810581',
'1544378',
'1544385',
'1544387',
'1544389',
'1544395',
'1544397',
'1544399',
'1544401',
'1544403',
'1544916',
'1546172',
'1546181',
'1546187',
'1551887',
'1594757',
'1595029',
'1595035',
'1990866',
'1666303',
'1599787',
'1719608',
'1605074',
'1730925',
'1649591',
'1649600',
'1649601',
'1649963',
'1730930',
'1649994',
'1650003',
'1650011',
'1650894',
'1652827',
'1652833',
'1653165',
'1435169',
'1654035',
'1654040',
'1855508',
'1855512',
'1654186',
'1655032',
'1655726',
'1655956',
'1655959',
'1655967',
'1655968',
'1658690',
'578037',
'1928686',
'1657016',
'1657026',
'1922329',
'1047916',
'727866',
'2043317',
'904955',
'904952',
'1657979',
'979120',
'1148141',
'1658100',
'1658105',
'1658647',
'1361577',
'1658717',
'1659195',
'1362054',
'1362062',
'1362055',
'1362063',
'1361853',
'1658634',
'644104',
'1809434',
'1809497',
'1809444',
'1809438',
'1661483',
'1809539',
'1662278',
'1663244',
'1663248',
'1665061',
'1809524',
'1666441',
'1666613',
'1666622',
'1809414',
'1809736',
'1809212',
'1809037',
'1809032',
'1809745',
'1718900',
'1718906',
'1718909',
'1809068',
'1809066',
'1719772',
'1813423',
'1809076',
'1809061',
'1809427',
'1809642',
'1809463',
'1720960',
'1720975',
'1720977',
'1809474',
'1723187',
'1723193',
'1723206',
'1723208',
'1723209',
'1723210',
'727574',
'1809447',
'1809651',
'1809218',
'615136',
'1657005',
'1657012',
'860605',
'311144',
'1730194',
'1667909',
'1667915',
'1745103',
'1731590',
'1745112',
'809974',
'749814',
'749811',
'749817',
'403822',
'1720765',
'1720773',
'1867938',
'1738353',
'1738357',
'1738586',
'1738590',
'1738594',
'1867943',
'1741261',
'1741270',
'1867992',
'1867996',
'1867998',
'197906',
'237521',
'1747179',
'1747185',
'1747192',
'1788984',
'237522',
'1790208',
'1790219',
'311446',
'204452',
'1367843',
'1790541',
'1791229',
'1791232',
'1791233',
'1791395',
'1791403',
'1791840',
'1791842',
'1792483',
'1792493',
'1794440',
'1794448',
'317130',
'1731986',
'1731990',
'1796676',
'477484',
'1362065',
'1799228',
'1799697',
'1799761',
'1803892',
'1803894',
'1723745',
'1657195',
'1991412',
'1657190',
'1863560',
'1746910',
'1442693',
'1876380',
'1944947',
'1809097',
'1809102',
'1809104',
'1356824',
'1658047',
'1658042',
'1872478',
'1855739',
'994541',
'1797528',
'977935',
'1657341',
'1657361',
'1737449',
'1737451',
'1737453',
'1789947',
'1364109',
'1364116',
'1364120',
'1810484',
'1011625',
'1811473',
'485376',
'828700',
'1812170',
'968173',
'1485068',
'1813508',
'968181',
'1855523',
'1796419',
'1859368',
'1859372',
'1796424',
'1595042',
'1596950',
'723871',
'903851',
'310133',
'1657775',
'1657780',
'1868469',
'1868482',
'1868485',
'1868494',
'1868497',
'1868562',
'1868565',
'1366571',
'1746893',
'1986885',
'2003755',
'1923333',
'2003766',
'1923345',
'1726979',
'204416',
'1653241',
'1921009',
'1921016',
'1921075',
'1921238',
'1599792',
'1991306',
'1991316',
'882527',
'242761',
'1925254',
'1925256',
'1927285',
'1928532',
'904630',
'1928853',
'1928862',
'313213',
'1945218',
'1947301',
'857635',
'1490661',
'198248',
'313284',
'313297',
'313264',
'313263',
'313285',
'1737471',
'1813035',
'1737466',
'1994347',
'1729521',
'1729527',
'1726680',
'1811255',
'1654077',
'853350',
'2000011',
'1654082',
'853355',
'2043311',
'1989823',
'1863354',
'312969',
'237508',
'2045501',
'855856',
'1246592',
'731167',
'730044',
'349276',
'731171',
'1654949',
'731174',
'1654954',
'731179',
'351247',
'731184',
'349275',
'237649',
'727518',
'237650',
'1795621',
'1795618',
'1795616',
'1795519',
'727517',
'1795518',
'1795496',
'1795498',
'237656',
'1861411',
'1860619',
'1918045',
'801364',
'800633',
'801005',
'800644',
'1721684',
'240000',
'241999',
'240377',
'242706',
'486499',
'1735008',
'1735007',
'1735013',
'1735006',
'1719803',
'351125',
'388911',
'854787',
'854788',
'415314',
'854790',
'1998783',
'1870686',
'242816',
'197736',
'1870631',
'1870633',
'1870681',
'310476',
'310473',
'310477',
'1870685',
'310474',
'859871',
'1858995',
'1604539',
'1926331',
'1652239',
'1665508',
'1665516',
'1665497',
'1665517',
'1665519',
'1010900',
'1000131',
'861447',
'861493',
'1665685',
'861459',
'1665699',
'861494',
'861476',
'860792',
'1665690',
'311625',
'314099',
'1358510',
'1666823',
'1551393',
'1666777',
'1666798',
'998211',
'1666821',
'1666814',
'1551395',
'1731537',
'1728791',
'894911',
'1728800',
'1731520',
'1733080',
'1731530',
'1232113',
'1728789',
'1732138',
'1729197',
'2003714',
'998212',
'1728805',
'1731545',
'1731517',
'1728999',
'1732014',
'1732006',
'998213',
'1732136',
'1442790',
'1728783',
'1732003',
'1732011',
'894914',
'1495293',
'1855730',
'1191250',
'311936',
'832086',
'245385',
'312370',
'199407',
'198368',
'199965',
'312447',
'204509',
'1731315',
'249220',
'847629',
'313016',
'1246829',
'1369805',
'1192858',
'1192861',
'1091723',
'1091719',
'1246822',
'1245982',
'1804513',
'1869318',
'1190122',
'1537106',
'849820',
'1246615',
'1085750',
'1085996',
'1085992',
'807222',
'1807508',
'1807513',
'239209',
'1807511',
'1807510',
'1807518',
'237511',
'798440',
'1791240',
'829987',
'1292432',
'1292457',
'1812945',
'1928339',
'237512',
'727575',
'1807571',
'1807578',
'1807580',
'730781',
'730782'

)



update c_drug_formulation 
set valid_in = valid_in + 'ke;'
where valid_in NOT LIKE '%ke;%'
and form_rxcui in (
-- select count(*) from c_drug_formulation where form_rxcui in (

-- generic drug concept (SCD) PRESENT IN retention drugs in Kenya

'1876705',
'283402',
'804171',
'1792488',
'238014',
'830460',
'104208',
'104897',
'204504',
'205259',
'238720',
'311028',
'311670',
'1719286',
'317106',
'727360',
'727535',
'727539',
'727619',
'727757',
'731326',
'802652',
'809158',
'834357',
'856443',
'854228',
'854235',
'854238',
'854241',
'854248',
'866508',
'966571',
'991065',
'992460',
'1000126',
'1000153',
'1000156',
'1314133',
'1597101',
'1653223',
'1654169',
'1665057',
'1668238',
'1719290',
'252484',
'1729578',
'1729584',
'1729710',
'1740467',
'1741267',
'1812168',
'1860480',
'1001405',
'1860485',
'828539',
'828755',
'901640',
'857705',
'797638',
'1719291',

'992858',
'1792144',
'849329',
'238175',
'1293628',
'597195',
'1734340',
'310248',
'798426',
'798429',
'1658142',
'1658156',
'1657862',
'1657867',
'1799704',
'1799724',
'1292440',
'1010688',
'1010759',
'1868028',
'1012066',
'1010033',
'1012068',
'1010671',
'309013',
'309012',
'1734919',
'1734921',
'1734917',
'311487',
'240793',
'884221',
'884225',
'2002002',
'979432',
'646830',
'309650',
'1724666',
'1724668',
'1726097',
'1726319',
'1726324',
'1726333',
'1736541',
'1736546',
'1805001',
'1805007',
'1805011',
'1805015',
'1808217',
'1808222',
'1808224',
'1808234',
'1876368',
'1115257',
'1115447',
'1046398',
'198379',
'199211',
'1115454',
'1115457',
'1115462',
'1115467',
'204870',
'1115472',
'1946519',
'1946521',
'1658058',
'798477',
'1658065',
'798481',
'1723160',
'204520',
'239179',
'1726992',
'1727000',
'993452',
'1860136',
'1860139',
'199739',
'204441',
'1654006',
'309710',
'205175',
'238755',
'240754',
'240912',
'253010',
'253113',
'283669',
'309594',
'309915',
'309953',
'486419',
'310132',
'310592',
'310994',
'1654008',
'603566',
'637549',
'311282',
'727531',
'311659',
'722289',
'312068',
'312507',
'312521',
'312772',
'312821',
'313920',
'1363242',
'314008',
'483017',
'486515',
'543218',
'643193',
'647121',
'727316',
'727373',
'727762',
'727813',
'727995',
'744808',
'828265',
'829926',
'792577',
'803364',
'803369',
'853004',
'855911',
'857886',
'857962',
'847621',
'847628',
'847703',
'848160',
'849501',
'854255',
'861356',
'861360',
'1740865',
'861363',
'861365',
'861379',
'861383',
'1001433',
'859824',
'885205',
'1045456',
'896771',
'898589',
'1010751',
'1012404',
'1039654',
'1090559',
'1232154',
'1232651',
'197989',
'1298948',
'1441402',
'1441422',
'1099648',
'1594658',
'1244205',
'1116294',
'1435115',
'1492043',
'1551295',
'1551304',
'1605066',
'1605071',
'1649944',
'1655960',
'1657066',
'1657073',
'1657658',
'1657663',
'1657703',
'1657722',
'242969',
'1650899',
'1650922',
'1652644',
'1653142',
'1653196',
'1657974',
'1657981',
'1658244',
'1658262',
'1659260',
'1659263',
'1798389',
'1361615',
'1659988',
'1666372',
'1660014',
'1670195',
'1670200',
'1670351',
'1670353',
'1719000',
'1719003',
'1719005',
'1662285',
'1663224',
'1665052',
'1665060',
'1666320',
'1670192',
'1726673',
'1726676',
'1719646',
'1876502',
'1721314',
'1722934',
'1722939',
'1723156',
'1728055',
'1728072',
'1728077',
'1723232',
'1726204',
'1726214',
'1732182',
'1732186',
'1726844',
'1736781',
'1736786',
'1736776',
'1736784',
'1727569',
'1727572',
'583214',
'1740894',
'1740898',
'1740900',
'1730076',
'1730078',
'1731582',
'1734399',
'1737850',
'1737852',
'1791493',
'1791498',
'1791500',
'1791588',
'1791593',
'1791597',
'1791599',
'1791701',
'1791736',
'1791854',
'1791859',
'1791861',
'1743704',
'1743720',
'1792780',
'1743726',
'1743779',
'1743833',
'1799424',
'1743855',
'1791408',
'1795344',
'1795346',
'1796672',
'1796690',
'1799694',
'1807631',
'1807632',
'1807633',
'1807634',
'1807637',
'1807639',
'1809421',
'1809456',
'1809728',
'1859374',
'1859553',
'1862220',
'1860132',
'1860135',
'1860239',
'1860241',
'1860463',
'1860466',
'1864324',
'1864423',
'1868473',
'1868486',
'1870205',
'1870207',
'1870225',
'1870230',
'1870232',
'1872979',
'1921465',
'1939322',
'1942743',
'1946772',
'1923484',
'1992545',
'1657750',
'1989112',
'1990857',
'1991328',
'197435',
'1659592',
'1721474',
'1190795',
'1665050',
'242800',
'1665021',
'309090',
'1665046',
'309092',
'1665005',
'1190112',
'1098122',
'1098137',
'1665449',
'727505',
'309311',
'1665210',
'1665212',
'205964',
'1737244',
'1737578',
'1812079',
'309696',
'1812194',
'1812095',
'1116927',
'1788947',
'1605171',
'349273',
'731181',
'349274',
'1795481',
'1795480',
'1795477',
'1795609',
'1795612',
'1795610',
'1795607',
'309778',
'1870937',
'1790097',
'1191138',
'1790100',
'1790095',
'1790115',
'1790127',
'1795514',
'309845',
'239998',
'239999',
'486501',
'253014',
'239177',
'727759',
'1735003',
'1721310',
'1721315',
'1654171',
'1654179',
'562724',
'1654184',
'239204',
'1870676',
'313996',
'1870650',
'1719862',
'859867',
'1653202',
'311040',
'351297',
'1994311',
'847239',
'484322',
'847230',
'311041',
'2002419',
'847259',
'1654862',
'847187',
'1652639',
'242120',
'260265',
'259111',
'311048',
'204430',
'1665461',
'847630',
'847627',
'1665507',
'1665515',
'239212',
'897122',
'829762',
'314097',
'1665701',
'861473',
'1665697',
'311700',
'1666800',
'311702',
'861463',
'1358610',
'1358617',
'311683',
'1731995',
'1731993',
'894912',
'892531',
'311935',
'351156',
'1791721',
'238013',
'312199',
'832082',
'1859009',
'1191234',
'1659929',
'1191222',
'283504',
'1659131',
'1659137',
'1234995',
'1659149',
'847626',
'1866559',
'311034',
'727820',
'727634',
'747260',
'313002',
'313115',
'1809083',
'313137',
'581531',
'1085754',
'859437',
'807239',
'795143',
'1799416',
'1922509',
'1922516',
'835945',
'806573',
'313212',
'1660004',
'1660009',
'1863343',
'313572',
'1807516',
'540930',
'351114',
'351209',
'1734683',
'1304995',
'1729418',
'249284',
'250758',
'1729422',
'240573',
'763103',
'199964',
'282462',
'2044429',

-- brand drug concept (SBD) PRESENT IN retention drugs in Kenya

'211544',
'207014',
'1876710',
'284441',
'1591964',
'1792490',
'798428',
'798430',
'1658144',
'1658157',
'1799886',
'1799890',
'854232',
'854236',
'854239',
'854242',
'854249',
'854256',
'108515',
'1658060',
'798479',
'1658066',
'798482',
'210677',
'105641',
'106892',
'207194',
'207436',
'208135',
'208137',
'213361',
'285018',
'311026',
'311036',
'352044',
'352045',
'545837',
'584201',
'616238',
'644301',
'731227',
'731281',
'731328',
'806575',
'752388',
'829928',
'803194',
'803367',
'803371',
'809159',
'847199',
'847232',
'847241',
'847254',
'847261',
'848164',
'860777',
'865098',
'898591',
'1000128',
'1000154',
'1232159',
'1115259',
'1115449',
'1115456',
'1115459',
'1115464',
'1115468',
'1115473',
'1300191',
'1358612',
'1551300',
'1551306',
'1597103',
'1605172',
'1650940',
'1652242',
'1652640',
'1652646',
'1653144',
'1653225',
'1657976',
'1657982',
'1668240',
'1726846',
'1726997',
'1727001',
'1741268',
'1743781',
'1799305',
'1799307',
'1799308',
'1799310',
'1799696',
'1799706',
'1799725',
'1808223',
'1808225',
'1859375',
'1860482',
'1860486',
'1864425',
'1922518',
'1872980',
'1921466',
'1922512',
'1946520',
'1992547',
'2001100',
'2001102',
'1946522',
'795144',
'284419',
'1594432',
'1594418',
'1594334',
'1486496',
'1719013',
'1719015',
'603536',
'1729581',
'1729586',
'1729712',
'1743707',
'1743722',
'1743729',
'207191',
'828541',
'828757',
'1734686',
'861381',
'861385',
'105607',
'1728079',
'1728075',
'797641',


-- include in drug set 

'200321',
'284192',
'284193',
'284194',
'284195',
'351154',
'727347',
'727386',
'731333',
'731334',
'731345',
'731348',
'760029',
'760039',
'790245',
'790247',
'805007',
'805008',
'805009',
'805010',
'835809',
'835840',
'1099048',
'1099052',
'1099054',
'1099056',
'1099058',
'1099060',
'1661424',
'1661427',
'1661432',
'1736919',
'1736931',
'1807627',
'1807630',
'1807636',
'1807638',
'1807646',
'1807896',
'1926456',
'1665444',
'309101',
'239200',
'896854',
'310587',
'1665214',
'1665227',
'1665229',
'309339',
'240416',
'309335',
'309336',
'1737581',
'1093280',
'1790103',
'1790099',
'1872062',
'1807452',
'1807459',
'804981',
'859203',
'727821',
'727822'
)
-- Important notes column

update c_drug_formulation
set valid_in = 'TPN Suppress'
where form_rxcui IN (
'204536',
'262197',
'309279',
'562675',
'800188',
'800563',
'800584',
'800588',
'800611',
'800858',
'800862',
'800929',
'800933',
'800976',
'801067',
'801133',
'801136',
'801395',
'801398',
'801403',
'801405',
'801413',
'801417',
'801644',
'801648',
'807371',
'1014427',
'1014431',
'1090635',
'1094083',
'1189640',
'1189645',
'1293736',
'1293739',
'1486165',
'1547445',
'1547450',
'1549708',
'1601982',
'1654849',
'805127',
'805131',
'200317',
'200318',
'1100746',
'1111641',
'1111642',
'1114085',
'1293443',
'1293446',
'1293464',
'1293466',
'2003344'
)

update c_drug_formulation
set valid_in = 'Retired'
where form_rxcui IN (
'151114',
'205296',
'248009',
'248661',
'251272',
'251817',
'415379',
'604379',
'282533',
'415314'
)

-- Others "Suppress. ..." various reasons
update c_drug_formulation
set valid_in = 'Suppress'
where form_rxcui IN (
'1799761',
'309710',
'1788947',
'1718900',
'1718906',
'1718909',
'892652',
'1731999',
'1731998',
'1731522',
'1232154',
'1791854',
'1791859',
'1791861',
'1939322',
'1791840',
'1791842',
'108515',
'198379',
'1232651',
'242969',
'1666372',
'209217',
'1232653',
'856443',
'857886',
'857962',
'1862220',
'1665057',
'1812168',
'240793',
'1876368',
'855911',
'1670195',
'1670200',
'1670351',
'1670353',
'313212',
'858599',
'858603',
'858607',
'1190748',
'309985',
'309986',
'309987',
'898316',
'1665061',
'1812170',
'637197',
'1747294',
'311422',
'1740894',
'1740898',
'1740900',
'1812480',
'1812482',
'1812484',
'1807571',
'1807578',
'1807580',
'730781',
'730782',
'884221',
'884225',
'884223',
'884227',
'1654006',
'727531',
'1654008',
'1293628',
'1010768',
'1608499',
'1011809',
'1011814',
'1293648',
'1658966',
'1670365',
'1595029',
'1595035',
'1657016',
'1657026',
'1661483',
'311700',
'1666800',
'311702',
'311487',
'876399',
'1745090',
'1734340',
'310248',
'206831',
'226719',
'1723189',
'1723194',
'1723187',
'1723193',
'105607',
'1660004',
'1660009',
'240573',
'603566',
'722289',
'1728072',
'1728077',
'312199',
'1797528',
'1863354',
'1657862',
'1657867',
'249284',
'1860480',
'1001405',
'1860485',
'806575',
'1799305',
'1799307',
'1799308',
'1799310',
'1922518',
'2001100',
'2001102',
'1728079',
'1728075',
'597195',
'309013',
'309012',
'2002002',
'646830',
'309650',
'1726097',
'1726319',
'1726324',
'1726333',
'1805001',
'1805007',
'1805011',
'1805015',
'1046398',
'204870',
'239179',
'993452',
'486419',
'828265',
'829926',
'1740865',
'1001433',
'1045456',
'197989',
'1594658',
'1657066',
'1657073',
'1719000',
'1719003',
'1719005',
'1726673',
'1726676',
'1732182',
'1732186',
'1736781',
'1736786',
'1736776',
'1736784',
'583214',
'1791493',
'1791498',
'1791500',
'1791588',
'1791593',
'1791597',
'1791599',
'1791701',
'1791736',
'1792780',
'1942743',
'1992545',
'1657750',
'309311',
'1812079',
'309696',
'1812194',
'1812095',
'1116927',
'1870937',
'1790097',
'1191138',
'1790100',
'1790095',
'1790115',
'1790127',
'239177',
'1863343',
'1304995',
'1729418',
'250758',
'1729422',
'240416',
'1093280',
'1790103',
'1790099',
'1872062',
'200238',
'307816',
'544915',
'1045460',
'1242131',
'1726102',
'1790128',
'1790131',
'1790177',
'1790181',
'1791495',
'1791499',
'1791501',
'105552',
'213841',
'583218',
'616366',
'1732183',
'1732187',
'1791703',
'1726492',
'1719772',
'1720960',
'1720975',
'1720977',
'1861411',
'1860619',
'1918045',
'1998783',
'1298948',
'1298953',
'212994',
'829928',
'1992547',
'637549',
'1799424',
'1799416',
'1922509',
'1922516',
'806573',
'1728055',
'2044429',
'1728050',
'2044431',
'1728056',
'1947301',
'1657703',
'1657722',
'1657705',
'1657723',
'1244233',
'1234995',
'210677',
'1808223',
'1808225',
'1808217',
'1808222',
'1808224',
'1808234',
'199211',
'832082',
'1859009',
'859437',
'206967',
'206970',
'206972',
'238082',
'238083',
'238084',
'1242617',
'1594589',
'1594591',
'1594593',
'210676',
'1808219',
'1808235',
'199212',
'1730194',
'832086',
'1244638',
'966768',
'1718913',
'1928858',
'1928864',
'1928853',
'1928862',
'1729578',
'1729584',
'1729710',
'1729581',
'1729586',
'1729712',
'1791721',
'238013',
'207315',
'1791723',
'240738',
'1232159',
'853004',
'197435',
'311935',
'198412',
'199408',
'199958',
'251934',
'312736',
'315105',
'349407',
'349408',
'349409',
'349410',
'352211',
'352212',
'352213',
'352214',
'435151',
'809871',
'833532',
'864714',
'867381',
'880859',
'990982',
'1429282',
'1429284',
'1599836',
'1599841',
'1667993',
'1729336',
'1743994',
'1926818',
'1926823',
'1926825',
'1926827',
'1858963',
'1794440',
'311936'
)