/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [OS_202].[dbo].[icd10_rwanda] r
  left join icd10cm_codes i on r.code = i.code
  order by i.code

  select *
  from icd10cm_codes
  where descr like '%injured in collision%'
  and exists
  -- 14187, 21773, 12115
  -- replace ', initial encounter for' ', initial encounter' and subsequent

  CREATE TABLE c_Assessment_Construction (
	icd10_code varchar(10), 
	extracted_term varchar(100),
	root_code varchar(10)
	)

  CREATE TABLE c_Assessment_Display (
	icd10_code varchar(10), 
	display_description varchar(80),
	sequela_type varchar(30),
	-- fractures
	fracture_class varchar(10),
	laterality varchar(30),
	-- associations
	associated_with varchar(30),
	associated_without varchar(30),
	associated_with_2 varchar(30),
	associated_without_2 varchar(30),
	-- collision
	patient_vehicle_role varchar(30),
	patient_vehicle_type varchar(30),
	other_vehicle_type varchar(30),
	traffic_qualifier varchar(30),
	-- consciousness
	subsequent_event varchar(30),
	duration varchar(30),
	)

--	Pedestrian on roller-skates injured in collision with two- or three-wheeled motor vehicle in nontraffic accident, sequela

'injured in noncollision transport accident'
'injured in collision'



