
INSERT INTO c_List_Item (list_id, list_item_id, list_item) VALUES ('Country', 'AF', 'Afghanistan')
INSERT INTO c_List_Item (list_id, list_item_id, list_item) VALUES ('Country', 'AX', 'Åland Islands')
INSERT INTO c_List_Item (list_id, list_item_id, list_item) VALUES ('Country', 'AL', 'Albania')

UPDATE c_List_Item SET status = 'OK'
WHERE list_id = 'Country'

UPDATE c_List_Item SET status = 'Active' 
WHERE list_id = 'Country'
AND list_item_id IN ('BI', 'GH', 'KE', 'MW', 'RW', 'TZ', 'UG', 'ZM')



UPDATE c_List_Item SET status = 'OK'
WHERE list_id = 'Id Document'

UPDATE c_List_Item SET status = 'Active' 
WHERE list_id = 'Id Document'
AND list_item_id IN ('Passport', 'National ID', 'Other')


UPDATE c_List_Item SET status = 'OK'
WHERE list_id = 'Locality'

UPDATE c_List_Item SET status = 'Active' 
WHERE list_id = 'Locality'
AND list_item_id IN ('Province', 'County', 'District', 'Town', 'Sector', 'Village')

