
-- After the big mapping exercise, re-normalize the categories and types.
UPDATE c_Assessment_Category 
SET icd10_start = 'Z00', icd10_end = 'Z13'
WHERE assessment_category_id = 'YWELL'

UPDATE c_Assessment_Category 
SET icd10_start = 'Z14', icd10_end = 'Z22'
WHERE assessment_category_id = 'YMM'

UPDATE c_Assessment_Category 
SET icd10_start = 'Z23', icd10_end = 'Z28'
WHERE assessment_category_id = 'VACCINES'

UPDATE c_Assessment_Category 
SET icd10_start = 'Z29', icd10_end = 'Z3A'
WHERE assessment_category_id = 'YM'

UPDATE c_Assessment_Category 
SET icd10_start = 'Z40', icd10_end = 'Z53'
WHERE assessment_category_id = 'YMMM'

IF NOT EXISTS (SELECT 1 FROM [c_Assessment_Category] WHERE [assessment_category_id] = 'SOCIAL')
	INSERT INTO [c_Assessment_Category]
           ([assessment_type]
           ,[assessment_category_id]
           ,[description]
           ,[sort_order]
           ,[icd10_start]
           ,[icd10_end])
     VALUES ('PROBLEM', 'SOCIAL', 'Social Circumstances', 14, 'Z55', 'Z66')

UPDATE c_Assessment_Category 
SET icd10_start = 'Z67', icd10_end = 'Z68', description = 'Blood Type / BMI'
WHERE assessment_category_id = 'ZZMISC'

IF NOT EXISTS (SELECT 1 FROM [c_Assessment_Category] WHERE [assessment_category_id] = 'COUNSEL')
	INSERT INTO [c_Assessment_Category]
           ([assessment_type]
           ,[assessment_category_id]
           ,[description]
           ,[sort_order]
           ,[icd10_start]
           ,[icd10_end])
     VALUES ('PROBLEM', 'COUNSEL', 'Counseling', 14, 'Z69', 'Z71')

UPDATE c_Assessment_Category 
SET icd10_start = 'Z72', icd10_end = 'Z75'
WHERE assessment_category_id = 'PROBLEM'

UPDATE c_Assessment_Category 
SET icd10_start = 'Z76', icd10_end = 'Z76', assessment_type = 'PROBLEM'
WHERE assessment_category_id = 'YOTHER'

IF NOT EXISTS (SELECT 1 FROM [c_Assessment_Category] WHERE [assessment_category_id] = 'HAZ')
	INSERT INTO [c_Assessment_Category]
           ([assessment_type]
           ,[assessment_category_id]
           ,[description]
           ,[sort_order]
           ,[icd10_start]
           ,[icd10_end])
     VALUES ('PROBLEM', 'HAZ', 'Hazardous Exposure', 14, 'Z77', 'Z79')

UPDATE c_Assessment_Category 
SET icd10_start = 'Z80', icd10_end = 'Z84'
WHERE assessment_category_id = 'FAMILY'

IF NOT EXISTS (SELECT 1 FROM [c_Assessment_Category] WHERE [assessment_category_id] = 'DIS-HIST')
	INSERT INTO [c_Assessment_Category]
           ([assessment_type]
           ,[assessment_category_id]
           ,[description]
           ,[sort_order]
           ,[icd10_start]
           ,[icd10_end])
     VALUES ('PROBLEM', 'DIS-HIST', 'Personal Disease History', 14, 'Z85', 'Z87')

UPDATE c_Assessment_Category 
SET icd10_start = 'Z88', icd10_end = 'Z88'
WHERE assessment_category_id = 'DA'

IF NOT EXISTS (SELECT 1 FROM [c_Assessment_Category] WHERE [assessment_category_id] = 'ACQ')
INSERT INTO [c_Assessment_Category]
           ([assessment_type]
           ,[assessment_category_id]
           ,[description]
           ,[sort_order]
           ,[icd10_start]
           ,[icd10_end])
     VALUES ('PROBLEM', 'ACQ', 'Acquired Status', 14, 'Z89', 'Z90')

IF NOT EXISTS (SELECT 1 FROM [c_Assessment_Category] WHERE [assessment_category_id] = 'MED-HIST')
INSERT INTO [c_Assessment_Category]
           ([assessment_type]
           ,[assessment_category_id]
           ,[description]
           ,[sort_order]
           ,[icd10_start]
           ,[icd10_end])
     VALUES ('PROBLEM', 'MED-HIST', 'Medical History', 14, 'Z91', 'Z91')

UPDATE c_Assessment_Category 
SET icd10_start = 'Z92', icd10_end = 'Z92'
WHERE assessment_category_id = 'SURGERY'

UPDATE c_Assessment_Category 
SET icd10_start = 'Z93', icd10_end = 'Z99', 
	description = 'Personal History', 
	assessment_type = 'PROBLEM'
WHERE assessment_category_id = 'YHISTORY'

UPDATE c_Assessment_Category
SET assessment_category_id = 'TELEPHONE'
WHERE assessment_type = 'TELEPHONE'

UPDATE c_Assessment_Definition 
SET assessment_category_id = 'TELEPHONE'
WHERE assessment_type = 'TELEPHONE'

DELETE FROM c_Assessment_Category
WHERE assessment_type IN ('WELL', 'SICK', 'VACCINE', 'PT', 'OB')
AND assessment_category_id = 'AANEW'

UPDATE c_Assessment_Definition 
SET assessment_type = 'PROBLEM',
	assessment_category_id = 'SOCIAL'
WHERE assessment_id IN ('DEMO11396')

UPDATE c_Assessment_Definition 
SET assessment_category_id = 'WOUND'
WHERE assessment_category_id = 'WOUNDP'

UPDATE c_Assessment_Definition SET icd10_code = 'Z23', long_description = 'Encounter for immunization'
WHERE assessment_id IN ('DEMO716','H1N1')

UPDATE d
SET assessment_category_id = c.assessment_category_id
FROM c_Assessment_Definition d
JOIN c_Assessment_Category c ON d.icd10_code BETWEEN c.icd10_start and c.icd10_end + 'ZZZ'
WHERE d.assessment_type != 'ALLERGY'
AND d.assessment_category_id != c.assessment_category_id

UPDATE d
SET assessment_type = (SELECT c.assessment_type 
						FROM c_Assessment_Category c
						WHERE d.assessment_category_id = c.assessment_category_id
						)
FROM c_Assessment_Definition d
JOIN c_Assessment_Category c ON c.assessment_category_id = d.assessment_category_id
WHERE d.assessment_type != c.assessment_type
